#page
{
	display: flex;
	flex-direction: row;
	max-width: 1326px;
	margin: auto;
    border: 1px solid #1363BD;
    font-family: 'Play';
}
#unmoit
{
	width: 30%;
	background-color:#1363BD;
}
#image
{
    height: 100px;
    margin-left: 25%;
    margin-top: 25%;
}
#image img
{
	border-radius: 50%;
}
#contact
{
    width: 25%;
    height:50px;
}
#Apdmoi
{
    width: 25%;
    height:120px;
}
#Loisirs
{
    display: flex;
    flex-direction: row;
    padding: 20px;
}
.loisirs
{
	margin-left: 5px;
}
.natation
{
	margin-left:15px;
}
.velo
{
	margin-left: 20px;
}
.tenis
{
	margin-left: 20px;
}
h3
{
	text-align: center;
	background-color: #1334BD;
	font-family: 'Orbitron';
}
p
{
	font-size: smaller;
	margin-left: 10px;
	text-align:justify;
	margin-right: 10px;
}
#secmoit
{
    width: 75%;
}
#nom
{
	display: flex;
	flex-direction: column;
	height:100px;
	color:black;
	padding-left:20px;
	padding-top: 70px;
}
.nom
{
	color: black;
	height: 20px;
}
#zo
{
	padding-left: 30px;
	color: red;
	font-size: 1.5em;
}
#rakoto
{
	font-size: 1.5em;
}
#nom2
{
	display: flex;
	flex-direction: row;
}
#dev
{
	padding-left: 30px;
}
#FORMATION2
{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	width: 100%;
	font-size:small;
}
#FORMATION1
{
	display: flex;
	flex-direction: row;
}
.icones
{
	width: 15%;
	text-align: right;
	padding-top: 30px;
}
.titres
{
	width: 85%;
	text-align:left;
}
.puces 
{
	padding-left: 0px;
}
#loisirs
{
	display: flex;
	flex-direction:row;
    padding:20px;
}
.loisirs
{
    margin-left:5px;
}
.annee1, .annee2
{
	width: 40%;
	font-size: small;
}
.competences1, .competences2
{
	width:60%;
	padding-top: 15px;
}
#EXPERIENCES2
{
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
	font-size:small;
}
#EXPERIENCES1
{
	display: flex;
	flex-direction: row;
}
.date1, .date2, .date3
{
	width: 40%;
	font-size: small;
}
.experience1, .experience2, .experience3
{
	width:60%;
	padding-top: 15px;
}
#recommandations1
{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
}
#recommandations2
{
	display: flex;
	flex-direction: row;
	height: 100px;
	margin-left: 20px;
}
.recommandations21, .recommandations22
{
	width: 50%;
}
h4
{
	padding-left: 10px;
	padding-top: 10px;
}
@media screen and (max-width:1326px)
{
	#loisirs
	{
	 padding: 0;
    }
@media screen and (max-width:570px)
{
   #page
   {
    flex-direction: column;
   }
   #unmoit
   {
    width: 100%;
   }
   #nom 
   { 
    height: 50px; 
    width: 80%;
    padding-top:10px;
   }
   #secmoit
   {
   	width: 100%;
   }
   #image
   {
   	width: 100%;
   	text-align: center;
   	margin: 0;
   	margin-top: 50px;
   }
}
@media screen and (max-width:400px)
{
	#page
   {
	flex-direction: column;
   }
   #unmoit 
   { 
   	width: 100%; 
   }
   #loisirs
   {
	display: flex;
	flex-direction:row;
   }
   #secmoit 
   { 
   	width: 100%;
   }
   #nom 
   { 
   	width: 80%; 
   }
   #image
   {
   	width: 100%;
   	text-align: center;
   	margin: 0;
   	margin-top: 50px;
   }
   #FORMATION2 
   {
   	display: flex;
   	flex-direction: column;
   }
   .annee2, .annee1 
   {
	width: 100%;
   }
   .competences1, .competences2
   {
	width:100%;
	padding-left: 0;
   }
   strong
   {
	padding-left: 20px;
   }
   #Experience2 
   { 
   	width: 100%;
    display: flex;
    flex-direction: column;
   }
   .date1, .date2, .date3
   { 
	 width: 100%;
   }
   .experience1, .experience2, .experience3
   {
	 width: 100%;
   }
   #recommandations2 
   { 
	  flex-direction: column;
    width: 100%;
    padding-bottom: 100px; 
   }
   .recommandations21 
   { 
	 height: 100px;
   }
}